name: Release & Deploy

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  build-and-deploy:
    name: Build WASM and Deploy
    runs-on: ubuntu-latest

    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Install Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
          target: wasm32-unknown-unknown

      - name: Install wasm-pack
        run: curl https://rustwasm.github.io/wasm-pack/installer/init.sh -sSf | sh

      - name: Build WASM
        run: wasm-pack build --target web

      - name: Prepare Deployment Folder
        run: |
          mkdir -p public/fonts
          cp index.html public/
          cp -r pkg public/
          cp fonts/* public/fonts/

      - name: Zip pkg for Release
        run: zip -r blue-archive-decoder-wasm.zip pkg

      - name: Create Release and Upload Assets
        uses: softprops/action-gh-release@v1
        with:
          files: blue-archive-decoder-wasm.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup Pages
        uses: actions/configure-pages@v4

      - name: Upload Pages Artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: "public"

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
